openapi: 3.0.3
info:
  title: BankPortal — Security API
  description: |
    API de Seguridad para BankPortal — Banco Meridian.
    Cubre: 2FA TOTP, sesiones activas, dispositivos de confianza, notificaciones,
    auditoría de seguridad, bloqueo de cuenta y autenticación contextual.

    ## Autenticación
    Todos los endpoints requieren Bearer JWT en `Authorization`.
    Los JWTs se firman con **RS256** (keypair RSA-2048 gestionado en Jenkins + K8s Secret `bankportal-jwt-keypair`).

    ### Scopes JWT
    - **`2fa-pending`**: emitido tras validar credenciales. Requerido en: `/enroll`, `/activate`, `/verify`, `/verify-recovery`.
    - **`full-session`**: emitido tras 2FA exitoso. Requerido en todos los demás endpoints.
    - **`context-pending`** *(FEAT-006 US-603)*: emitido cuando se detecta contexto inusual (nueva subnet IP). Válido solo para `POST /api/v1/auth/confirm-context`.

    ## Rate Limiting
    `POST /api/v1/2fa/verify`: máximo 5 intentos fallidos por usuario+IP → bloqueo 15 min (Bucket4j + Redis).

    ## Changelog
    | Versión | Cambio |
    |---------|--------|
    | 1.4.1 | US-604: endpoint /security/config-history + schemas ConfigHistoryPage y ConfigChangeEvent. RV-S7-002 fix. |
    | 1.4.0 | FEAT-005: endpoints /security/dashboard y /security/export. FEAT-006: endpoints bloqueo de cuenta y login contextual. ACT-30: claims JWT documentados en securitySchemes. Sprint 7. |
    | 1.3.0 | FEAT-003: endpoints Dispositivos de Confianza. FEAT-004: endpoints Notificaciones + SSE. ACT-19 (Sprint 5). |
    | 1.2.0 | FEAT-002: gestión de sesiones activas (US-101→105). |
    | 1.1.0 | `DELETE /deactivate` deprecado → `POST /deactivate`. JWTs actualizados a RS256. |
    | 1.0.0 | Versión inicial — FEAT-001 Sprint 1. |

  version: 1.4.1
  contact:
    name: SOFIA — Software Factory IA — Experis
  license:
    name: Interno Experis — Confidencial

servers:
  - url: https://api.bankportal.meridian.com/v1
    description: Producción
  - url: https://api-staging.bankportal.meridian.com/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local desarrollo

tags:
  - name: enrollment
    description: Enrolamiento y activación de 2FA
  - name: verification
    description: Verificación OTP en flujo de login
  - name: recovery
    description: Gestión de códigos de recuperación
  - name: management
    description: Desactivación y estado del 2FA
  - name: sessions
    description: Gestión de sesiones activas (FEAT-002)
  - name: trusted-devices
    description: Dispositivos de confianza (FEAT-003)
  - name: notifications
    description: Centro de Notificaciones de Seguridad (FEAT-004)
  - name: audit
    description: Panel de Auditoría de Seguridad (FEAT-005)
  - name: audit-config
    description: Historial de cambios de configuración de seguridad (FEAT-006 US-604)
  - name: account
    description: Bloqueo/desbloqueo de cuenta (FEAT-006)
  - name: contextual-auth
    description: Autenticación contextual — confirmación de subnet nueva (FEAT-006)

paths:

  /api/v1/2fa/enroll:
    post:
      tags: [enrollment]
      summary: Iniciar enrolamiento 2FA
      operationId: enroll2fa
      security:
        - bearerJwtPartial: []
      responses:
        '200':
          description: QR URI generada correctamente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnrollResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: El usuario ya tiene 2FA activo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/2fa/activate:
    post:
      tags: [enrollment]
      summary: Confirmar activación 2FA con primer OTP
      operationId: activate2fa
      security:
        - bearerJwtPartial: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActivateRequest' }
      responses:
        '200':
          description: 2FA activado — devuelve 10 códigos de recuperación
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivateResponse' }
        '400':
          description: OTP inválido o expirado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/2fa/verify:
    post:
      tags: [verification]
      summary: Verificar OTP en flujo de login
      description: |
        Verifica el código OTP. Si es válido, emite JWT de sesión completa (`scope=full-session`).
        FEAT-006 US-601: HTTP 423 si la cuenta está bloqueada antes de verificar el OTP.
        FEAT-006 US-603: emite JWT `scope=context-pending` si la subnet IP es nueva.
      operationId: verifyOtp
      security:
        - bearerJwtPartial: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VerifyRequest' }
      responses:
        '200':
          description: OTP válido — sesión completa emitida (o context-pending si subnet nueva)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VerifyResponse' }
        '400':
          description: OTP inválido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OtpErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '423':
          description: Cuenta bloqueada (US-601)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example: { code: "ACCOUNT_LOCKED", message: "Cuenta bloqueada. Revisa tu email para desbloquearla." }
        '429':
          description: Rate limit alcanzado (Bucket4j + Redis)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RateLimitResponse' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/2fa/verify-recovery:
    post:
      tags: [recovery]
      summary: Verificar código de recuperación
      operationId: verifyRecoveryCode
      security:
        - bearerJwtPartial: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RecoveryVerifyRequest' }
      responses:
        '200':
          description: Código válido — sesión completa emitida
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VerifyResponse' }
        '400':
          description: Código inválido o ya usado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/2fa/recovery-codes/generate:
    post:
      tags: [recovery]
      summary: Regenerar códigos de recuperación
      operationId: generateRecoveryCodes
      security:
        - bearerJwtFull: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConfirmPasswordRequest' }
      responses:
        '200':
          description: Nuevos 10 códigos generados
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivateResponse' }
        '400':
          description: Contraseña incorrecta
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/2fa/deactivate:
    post:
      tags: [management]
      summary: Desactivar 2FA
      operationId: deactivate2fa
      security:
        - bearerJwtFull: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeactivateRequest' }
      responses:
        '204':
          description: 2FA desactivado correctamente
        '400':
          description: Contraseña u OTP incorrecto
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

    delete:
      tags: [management]
      summary: "DEPRECADO — usar POST /api/v1/2fa/deactivate"
      deprecated: true
      operationId: deactivate2faLegacy
      security:
        - bearerJwtFull: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeactivateRequest' }
      responses:
        '204':
          description: Usar POST en su lugar
          headers:
            Deprecation: { schema: { type: string, example: "true" } }
            Sunset:      { schema: { type: string, example: "Sat, 01 Jan 2027 00:00:00 GMT" } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/2fa/status:
    get:
      tags: [management]
      summary: Obtener estado 2FA del usuario
      operationId: get2faStatus
      security:
        - bearerJwtFull: []
      responses:
        '200':
          description: Estado 2FA
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TwoFaStatusResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/sessions:
    get:
      tags: [sessions]
      summary: Listar sesiones activas (US-101)
      operationId: listActiveSessions
      security:
        - bearerJwtFull: []
      responses:
        '200':
          description: Lista ordenada por lastActivity DESC
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SessionResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

    delete:
      tags: [sessions]
      summary: Revocar todas las sesiones excepto la actual (US-102)
      operationId: revokeAllSessions
      security:
        - bearerJwtFull: []
      parameters:
        - in: header
          name: X-OTP-Code
          required: true
          schema: { type: string, pattern: '^\d{6}$' }
      responses:
        '204': { description: Todas las demás sesiones revocadas }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/sessions/{sessionId}:
    delete:
      tags: [sessions]
      summary: Revocar sesión individual (US-102)
      operationId: revokeSession
      security:
        - bearerJwtFull: []
      parameters:
        - in: path
          name: sessionId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: X-OTP-Code
          required: true
          schema: { type: string, pattern: '^\d{6}$' }
      responses:
        '204': { description: Sesión revocada }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: Sesión no encontrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/sessions/timeout:
    put:
      tags: [sessions]
      summary: Actualizar timeout de inactividad (US-103)
      operationId: updateSessionTimeout
      security:
        - bearerJwtFull: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateTimeoutRequest' }
      responses:
        '200':
          description: Timeout actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpdateTimeoutResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/sessions/deny/{token}:
    get:
      tags: [sessions]
      summary: Denegar sesión desde enlace de email (US-105)
      operationId: denySessionByLink
      parameters:
        - in: path
          name: token
          required: true
          schema: { type: string }
      responses:
        '302':
          description: Sesión revocada — redirect /login?reason=session-denied
          headers:
            Location: { schema: { type: string } }
        '400':
          description: Token inválido o expirado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/trusted-devices:
    get:
      tags: [trusted-devices]
      summary: Listar dispositivos de confianza (US-202)
      operationId: listTrustedDevices
      security:
        - bearerJwtFull: []
      responses:
        '200':
          description: Lista ordenada por lastUsedAt DESC
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TrustedDeviceResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

    delete:
      tags: [trusted-devices]
      summary: Revocar todos los dispositivos de confianza (US-202)
      operationId: revokeAllTrustedDevices
      security:
        - bearerJwtFull: []
      responses:
        '204': { description: Todos los dispositivos revocados }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/trusted-devices/{deviceId}:
    delete:
      tags: [trusted-devices]
      summary: Revocar dispositivo individual (US-202)
      operationId: revokeTrustedDevice
      security:
        - bearerJwtFull: []
      parameters:
        - in: path
          name: deviceId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Dispositivo revocado }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/notifications:
    get:
      tags: [notifications]
      summary: Listar notificaciones paginadas (US-301)
      operationId: listNotifications
      security:
        - bearerJwtFull: []
      parameters:
        - in: query
          name: eventType
          required: false
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, default: 0 }
        - in: query
          name: size
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Página de notificaciones
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/notifications/unread-count:
    get:
      tags: [notifications]
      summary: Conteo de notificaciones no leídas (US-303)
      operationId: getUnreadCount
      security:
        - bearerJwtFull: []
      responses:
        '200':
          description: Número de notificaciones sin leer
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnreadCountResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/notifications/{notificationId}/read:
    put:
      tags: [notifications]
      summary: Marcar notificación como leída (US-302)
      operationId: markOneAsRead
      security:
        - bearerJwtFull: []
      parameters:
        - in: path
          name: notificationId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Notificación marcada como leída }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/notifications/read-all:
    put:
      tags: [notifications]
      summary: Marcar todas las notificaciones como leídas (US-302)
      operationId: markAllAsRead
      security:
        - bearerJwtFull: []
      responses:
        '200':
          description: Número de notificaciones marcadas
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MarkAllReadResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/notifications/stream:
    get:
      tags: [notifications]
      summary: Stream SSE de notificaciones (US-305)
      operationId: streamNotifications
      security:
        - bearerJwtFull: []
      responses:
        '200':
          description: Stream SSE activo
          content:
            text/event-stream:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/security/dashboard:
    get:
      tags: [audit]
      summary: Dashboard de seguridad — KPIs + SecurityScore (US-401)
      operationId: getSecurityDashboard
      security:
        - bearerJwtFull: []
      responses:
        '200':
          description: Dashboard de seguridad
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SecurityDashboardResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/security/export:
    get:
      tags: [audit]
      summary: Exportar historial en PDF o CSV (US-402)
      operationId: exportSecurityHistory
      security:
        - bearerJwtFull: []
      parameters:
        - in: query
          name: format
          schema: { type: string, enum: [pdf, csv], default: pdf }
        - in: query
          name: days
          schema: { type: integer, enum: [30, 60, 90], default: 30 }
      responses:
        '200':
          description: Archivo generado
          headers:
            X-Content-SHA256:
              schema: { type: string }
          content:
            application/pdf:
              schema: { type: string, format: binary }
            text/csv:
              schema: { type: string, format: binary }
        '204': { description: No hay eventos en el período }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/security/preferences:
    get:
      tags: [audit]
      summary: Obtener preferencias de seguridad (US-403)
      operationId: getSecurityPreferences
      security:
        - bearerJwtFull: []
      responses:
        '200':
          description: Preferencias actuales
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SecurityPreferencesResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

    put:
      tags: [audit]
      summary: Actualizar preferencias de seguridad (US-403)
      operationId: updateSecurityPreferences
      security:
        - bearerJwtFull: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateSecurityPreferencesRequest' }
      responses:
        '204': { description: Preferencias actualizadas }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  # ── Historial de configuración (FEAT-006 US-604) — RV-S7-002 fix ─────────────

  /api/v1/security/config-history:
    get:
      tags: [audit-config]
      summary: Historial paginado de cambios de configuración (US-604)
      description: |
        Filtra audit_log por event_category = 'CONFIG_CHANGE' sin tabla nueva en BD.
        Tipos: 2FA_ACTIVATED/DEACTIVATED, SESSION_TIMEOUT_UPDATED,
        TRUSTED_DEVICE_CREATED/REVOKED, ACCOUNT_UNLOCKED, NOTIFICATION_PREFERENCES_UPDATED.
        Campo unusualLocation=true si la subnet no está en known_subnets del usuario.
      operationId: getConfigHistory
      security:
        - bearerJwtFull: []
      parameters:
        - in: query
          name: eventType
          required: false
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, default: 0 }
        - in: query
          name: size
          schema: { type: integer, default: 20, maximum: 50 }
      responses:
        '200':
          description: Página de eventos de configuración ordenados por occurredAt DESC
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigHistoryPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  # ── Bloqueo de cuenta (FEAT-006) ─────────────────────────────────────────────

  /api/v1/account/unlock:
    post:
      tags: [account]
      summary: Solicitar enlace de desbloqueo (US-602)
      operationId: requestAccountUnlock
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequestUnlockRequest' }
      responses:
        '204': { description: Email enviado (respuesta neutra — evita user enumeration) }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/account/unlock/{token}:
    get:
      tags: [account]
      summary: Desbloquear cuenta desde enlace email (US-602)
      operationId: unlockAccountByLink
      parameters:
        - in: path
          name: token
          required: true
          schema: { type: string }
      responses:
        '302':
          description: Cuenta desbloqueada — redirect /login?reason=account-unlocked
          headers:
            Location: { schema: { type: string } }
        '400':
          description: Token inválido o expirado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '500': { $ref: '#/components/responses/InternalError' }

  # ── Autenticación contextual (FEAT-006 US-603) ───────────────────────────────

  /api/v1/auth/confirm-context:
    post:
      tags: [contextual-auth]
      summary: Confirmar acceso desde nueva subnet IP (US-603)
      operationId: confirmLoginContext
      security:
        - bearerJwtContextPending: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConfirmContextRequest' }
      responses:
        '200':
          description: Contexto confirmado — sesión completa emitida
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VerifyResponse' }
        '400':
          description: Token de confirmación inválido o expirado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

components:
  schemas:

    EnrollResponse:
      type: object
      required: [qrUri, secret]
      properties:
        qrUri: { type: string }
        secret: { type: string }

    ActivateRequest:
      type: object
      required: [otpCode]
      properties:
        otpCode: { type: string, minLength: 6, maxLength: 6, pattern: '^\d{6}$' }

    ActivateResponse:
      type: object
      required: [recoveryCodes]
      properties:
        recoveryCodes:
          type: array
          items: { type: string }
          minItems: 10
          maxItems: 10

    VerifyRequest:
      type: object
      required: [otpCode]
      properties:
        otpCode: { type: string, minLength: 6, maxLength: 6, pattern: '^\d{6}$' }
        trustDevice: { type: boolean, default: false }

    VerifyResponse:
      type: object
      required: [accessToken, scope]
      properties:
        accessToken: { type: string }
        scope:
          type: string
          enum: [full-session, context-pending]
        contextConfirmationRequired: { type: boolean }

    OtpErrorResponse:
      type: object
      required: [code, message, attemptsRemaining]
      properties:
        code: { type: string }
        message: { type: string }
        attemptsRemaining:
          type: integer
          minimum: 0
          maximum: 10
          description: Intentos restantes antes del bloqueo (US-601 — umbral 10)

    RateLimitResponse:
      type: object
      required: [code, message, retryAfterSeconds]
      properties:
        code: { type: string }
        message: { type: string }
        retryAfterSeconds: { type: integer }

    RecoveryVerifyRequest:
      type: object
      required: [recoveryCode]
      properties:
        recoveryCode: { type: string, pattern: '^[A-Z0-9]{4}-[A-Z0-9]{4}$' }

    ConfirmPasswordRequest:
      type: object
      required: [currentPassword]
      properties:
        currentPassword: { type: string }

    DeactivateRequest:
      type: object
      required: [currentPassword, otpCode]
      properties:
        currentPassword: { type: string }
        otpCode: { type: string, minLength: 6, maxLength: 6, pattern: '^\d{6}$' }

    TwoFaStatusResponse:
      type: object
      required: [enabled, codesRemaining]
      properties:
        enabled: { type: boolean }
        codesRemaining: { type: integer, minimum: 0, maximum: 10 }

    SessionResponse:
      type: object
      required: [sessionId, os, browser, deviceType, ipMasked, lastActivity, createdAt, isCurrent]
      properties:
        sessionId: { type: string, format: uuid }
        os: { type: string }
        browser: { type: string }
        deviceType: { type: string, enum: [desktop, mobile, tablet] }
        ipMasked: { type: string }
        lastActivity: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        isCurrent: { type: boolean }

    UpdateTimeoutRequest:
      type: object
      required: [timeoutMinutes]
      properties:
        timeoutMinutes: { type: integer, minimum: 5, maximum: 60 }

    UpdateTimeoutResponse:
      type: object
      required: [timeoutMinutes]
      properties:
        timeoutMinutes: { type: integer }

    TrustedDeviceResponse:
      type: object
      required: [deviceId, os, browser, ipMasked, createdAt, lastUsedAt, expiresAt]
      properties:
        deviceId: { type: string, format: uuid }
        os: { type: string }
        browser: { type: string }
        ipMasked: { type: string }
        createdAt: { type: string, format: date-time }
        lastUsedAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }

    NotificationPage:
      type: object
      properties:
        content:
          type: array
          items: { $ref: '#/components/schemas/NotificationResponse' }
        totalElements: { type: integer }
        totalPages: { type: integer }
        number: { type: integer }

    NotificationResponse:
      type: object
      properties:
        notificationId: { type: string, format: uuid }
        eventType: { type: string }
        title: { type: string }
        body: { type: string }
        actionUrl: { type: string, nullable: true }
        read: { type: boolean }
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }

    UnreadCountResponse:
      type: object
      required: [unreadCount]
      properties:
        unreadCount: { type: integer }

    MarkAllReadResponse:
      type: object
      required: [markedCount]
      properties:
        markedCount: { type: integer }

    SecurityDashboardResponse:
      type: object
      required: [loginCount30d, failedAttempts30d, activeSessions, trustedDevices,
                 unreadNotifications, securityScore, recentEvents, activityChart]
      properties:
        loginCount30d: { type: integer }
        failedAttempts30d: { type: integer }
        activeSessions: { type: integer }
        trustedDevices: { type: integer }
        unreadNotifications: { type: integer }
        securityScore:
          type: string
          enum: [SECURE, REVIEW, ALERT]
        recentEvents:
          type: array
          items: { $ref: '#/components/schemas/AuditEventSummary' }
        activityChart:
          type: array
          items: { $ref: '#/components/schemas/DailyActivityPoint' }

    AuditEventSummary:
      type: object
      properties:
        eventType: { type: string }
        description: { type: string }
        ipMasked: { type: string }
        occurredAt: { type: string, format: date-time }

    DailyActivityPoint:
      type: object
      properties:
        date: { type: string, format: date }
        count: { type: integer }

    SecurityPreferencesResponse:
      type: object
      properties:
        twoFactorEnabled: { type: boolean }
        sessionTimeoutMinutes: { type: integer }
        trustedDevicesCount: { type: integer }
        notificationsEnabled: { type: boolean }
        notificationsByType:
          type: object
          additionalProperties: { type: boolean }

    UpdateSecurityPreferencesRequest:
      type: object
      properties:
        sessionTimeoutMinutes: { type: integer, minimum: 5, maximum: 60, nullable: true }
        notificationsByType:
          type: object
          additionalProperties: { type: boolean }
          nullable: true

    # ── Config History (FEAT-006 US-604) — RV-S7-002 ─────────────────────────

    ConfigHistoryPage:
      type: object
      required: [content, totalElements, totalPages, number, size]
      properties:
        content:
          type: array
          items: { $ref: '#/components/schemas/ConfigChangeEvent' }
        totalElements: { type: integer }
        totalPages:    { type: integer }
        number:        { type: integer, description: Página actual (0-indexed) }
        size:          { type: integer }

    ConfigChangeEvent:
      type: object
      required: [eventId, eventType, description, ipMasked, occurredAt]
      properties:
        eventId:     { type: string, format: uuid }
        eventType:
          type: string
          enum:
            - TWO_FA_ENABLED
            - TWO_FA_DISABLED
            - SESSION_TIMEOUT_CHANGED
            - TRUSTED_DEVICE_ADDED
            - TRUSTED_DEVICE_REVOKED
            - ALL_TRUSTED_DEVICES_REVOKED
            - NOTIFICATION_PREFS_CHANGED
            - RECOVERY_CODES_REGENERATED
            - ACCOUNT_UNLOCKED
        description:     { type: string }
        ipMasked:        { type: string, example: "192.168.x.x" }
        deviceInfo:      { type: string, nullable: true }
        occurredAt:      { type: string, format: date-time }
        unusualLocation: { type: boolean }

    # ── Account Lock (FEAT-006) ───────────────────────────────────────────────

    RequestUnlockRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }

    # ── Contextual Auth (FEAT-006) ────────────────────────────────────────────

    ConfirmContextRequest:
      type: object
      required: [confirmationToken]
      properties:
        confirmationToken: { type: string }

    # ── Error común ───────────────────────────────────────────────────────────

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:    { type: string }
        message: { type: string }

  responses:
    Unauthorized:
      description: JWT inválido, expirado o revocado
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          example: { code: "UNAUTHORIZED", message: "Token inválido o expirado." }

    InternalError:
      description: Error interno del servidor
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          example: { code: "INTERNAL_ERROR", message: "Error inesperado. Contacte soporte." }

  securitySchemes:
    bearerJwtPartial:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT parcial (scope=2fa-pending, alg=RS256). TTL: 300s.
        Claims (ACT-30): sub, scope, jti, iat, exp.

    bearerJwtFull:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT de sesión completa (scope=full-session, alg=RS256). TTL: 3600s.
        Claims (ACT-30): sub, scope, jti, twoFaEnabled, iat, exp.
        Verificado contra Redis blacklist en cada request.

    bearerJwtContextPending:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT de contexto pendiente (scope=context-pending, alg=RS256). TTL: 900s.
        Claims (ACT-30): sub, scope, jti, pendingSubnet, iat, exp.
        Válido únicamente para POST /api/v1/auth/confirm-context.
